# PROBHARATH MATRIXS
# Dual MCU setup via CAN bus for maximum expandability
# MCU 1 (Matrixs Core): Handles motion, kinematics
# MCU 2 (Matrixs Toolhead): Handles heaters, tool changes, neopixels, cameras
# MCU: Probharath Matrixs Core & Probharath Matrixs Toolhead

[mcu]
# Main motion controller
canbus_uuid: abcdef123456

[mcu toolhead]
# Secondary controller for tools and accessories
canbus_uuid: 123456abcdef

[printer]
kinematics: corexy
max_velocity: 500
max_accel: 15000

########################################
# MAIN MCU (Motion)
########################################
[stepper_x]
step_pin: PA1
dir_pin: PA2
enable_pin: !PA3
microsteps: 32
rotation_distance: 40
endstop_pin: ^PA4
position_endstop: 0
position_max: 300
homing_speed: 100

[stepper_y]
step_pin: PB1
dir_pin: PB2
enable_pin: !PB3
microsteps: 32
rotation_distance: 40
endstop_pin: ^PB4
position_endstop: 0
position_max: 300
homing_speed: 100

[stepper_z]
step_pin: PC1
dir_pin: PC2
enable_pin: !PC3
microsteps: 32
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 300
homing_speed: 10

########################################
# TOOLHEAD MCU (Heaters, Tool Change)
########################################
[extruder]
# Pins point to the 'toolhead' MCU
step_pin: toolhead:PA1
dir_pin: toolhead:PA2
enable_pin: !toolhead:PA3
microsteps: 16
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: toolhead:PB1
sensor_pin: toolhead:PB2
sensor_type: PT1000
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 350

[heater_bed]
heater_pin: toolhead:PB3
sensor_pin: toolhead:PB4
sensor_type: Generic 3950
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[neopixel status_leds]
pin: toolhead:PC1
chain_count: 10
color_order: GRB
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0

[fan toolhead_cooling]
pin: toolhead:PC2

[heater_fan hotend_fan]
pin: toolhead:PC3
heater: extruder
heater_temp: 50.0

# Add macros for Tool Change logic here...
